@import "./components/Author/Author.style.css";
@import "./components/Navbar/Navbar.style.css";
@import "./components/Home/Home.style.css";
@import "./components/Footer/Footer.style.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  border: none;
}
html,
body {
  /* background-image: url("/lbg3.jpg"); */
  height: 100%;
  margin: 0;

  background: url("BACKROUND.gif") white;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;

  color: black;
  font-family: "Montserrat", sans-serif;
}

.server-status-container {
  display: flex;
  color: black;
  font-size: 0.4rem;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
}
.server-status-card {
  border: 1px solid rgba(255, 0, 0, 0.411);
  padding: 1rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  align-items: center;
  justify-content: center;
}
.form-inputs input {
  width: 14rem;
  height: 2rem;
  border-radius: 0.2rem;
  align-items: center;
  text-align: center;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.096);
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.3rem;
  align-items: center;
}

.form-submit-btn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.4rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}

.form-submit-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid red;
}
.form-submit-btn:disabled {
  background-color: white;
  color: black;
}

.form-error-msg {
  margin-top: 1rem;
  color: red;
  border: 1px solid black;
  padding: 0.3rem;
  font-size: 0.4rem;
  border-radius: 0.4rem;
}

.form-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-list-lable {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.096);
  width: fit-content;
  padding: 1rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}
.delete-form-btn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.4rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.delete-form-btn:hover {
  background-color: rgb(122, 48, 48);
  color: rgb(255, 255, 255);
}
.delete-form-btn:disabled {
  background-color: rgb(122, 48, 48);
  color: rgb(255, 255, 255);
}

.update-form-btn {
  background-color: rgb(250, 250, 250);
  color: rgb(0, 0, 0);
  padding: 0.4rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
}
.update-form-btn:hover {
  background-color: rgb(22, 29, 131);
  color: rgb(255, 255, 255);
}
.update-form-btn:disabled {
  background-color: rgb(22, 29, 131);
  color: rgb(255, 255, 255);
}

.show-form-btn {
  background-color: rgb(92, 92, 92);
  color: rgb(255, 255, 255);
  padding: 0.4rem;
  margin-top: 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.5s;
  margin-bottom: 1rem;
}
.show-form-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.form-stats-for-submit {
  color: rgb(2, 2, 2);
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: 0.2rem;
}
.form-update-btns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.form-inputs select {
  border: none;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.select-categories-check-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.select-categories-check-list input {
  display: flex;
  margin: 0;
  padding: 0;
  width: fit-content;
  align-items: center;
}
.select-categories-check-list label {
  border: 1px solid rgba(0, 0, 0, 0.425);
  border-radius: 0.3rem;
  display: flex;
  margin: 0;
  padding: 0.3rem;
  gap: 1rem;
  align-items: center;
}
.checkbox-title {
  margin-top: 1rem;
}

.select-categories-check-list select {
  border-radius: 0.3rem;
  padding: 3rem;
  border: none;
  overflow: hidden;
}

.option {
  font-size: 0.7rem;
}

.load-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.loader {
  border: 0.5rem solid #f3f3f3;
  border-top: 0.5rem solid #000000;
  border-radius: 50%;
  width: 1rem;
  width: 1rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
